@tailwind base;
@tailwind components;
@tailwind utilities;

.signUp {
  @apply flex flex-row h-screen bg-[#DDE7D9];
}
.logoBox {
  @apply w-2/4  grid place-content-center;
}
.rightBox {
  @apply w-2/4 p-14 bg-white grid ;
}

.input {
  @apply w-full my-2 h-10 border-b outline-none;
}

.submitBox {
  @apply w-full h-14 my-4 rounded-lg text-3xl text-white py-2 font-bold;
  background-color: #a9c79b !important;
}
.remember {
  @apply flex justify-between mt-3;
}
.back{
@apply  flex mx-auto;
}
.signLink {
  @apply text-[#A9C79B] font-thin;
}
.form{
    @apply place-self-center w-full;
}
.backIcon{
    @apply self-center text-2xl;
}
.text{
  @apply text-2xl font-thin opacity-60 text-center mx-auto w-3/4;
}
/*custom css */
.rightBox {
  border-radius: 6rem;
}
.passwordEye {
  margin-top: -40px;
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 2;
}
