@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonGroup {
  @apply flex my-10;
}

.button {
  @apply mx-10 opacity-60;
}

.button {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  border: 1px black solid;
}
